/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /* Declare the base font-family */
  text-align: center;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
  background-color: #29524a;
}
header h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
}
header img {
  float: center;
  margin: auto;
}
header .subheading {
  color: white;
  font-size: 2.25em;
  text-align: center;
}

nav {
  background-color: #94a187;
  font-size:1.75em;
}
nav button {}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94a187;
  
}
nav ul li {
  float: center;
}
nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li.active a {
  background-color: #7cb4b8;
}
nav ul li a:hover {
  background-color: #7cb4b8
}

main {}
main h2 {
  color: #29524a;
  font-size: 2em
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {
  background-color: #7cb4b8
}

p {
  font-family: 'segoe ui light,Tahoma, Geneva, Verdana, sans-serif' 
}
.forecast {
  display: none;
}
