@media only screen and (min-width: 600px) {
    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
      max-width: 900px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    }
  
    body{ font-size:16px;}

    header {
      min-height: 250px;
      position: relative;
    }

    header  img {
      float: left;
      width: 20%;
      margin-left: 5%;
      margin-right: 5%;
      height: 200px;
      width: auto;
    }    

    header h1 {
      position: relative;
      margin-top: 60px;
      margin-right: 5%;
    }

    header .subheading {
      position: relative;
      margin-right: 5%;
    }

    nav {
      background-color: #94a187;
    }

    nav ul {
      list-style-type: none;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      margin: 0;
      overflow: hidden;
    }
    nav ul li {
      float: left;
      background-color: #94a187;
      
    }
    nav ul li a {
      margin: 0;
      border:none;
    }
    
    main .weather-summary {
      float: left;
      min-width: 200px;
      padding: auto;
      margin: auto;
    }

    section.forecast {
      float: right;
      top: 40px;
      display:inline-block;
      border: blue solid;
    }  /* show the 10-day forecast with the medium view and up */

    
    main article {
    clear: both;
    }
    main article img{
      float: right;
      width: 50%;
      max-width: 600px;
    }
    footer {
      clear: both;
    }
  }